.bg-color{
    background-color: #43657a;
}
.example-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.w-90{
    width: 85vw;
}

