<div class="">
    <div>
        <div class="mt-5 fs-5 w-90 m-auto fw-bold">Invoice</div>
    </div>
    <div class="my-4 row fs-5 fw-bold w-90 m-auto">
            <div class="col-2">
                <button mat-raised-button (click)="addProduct()" class="button">Add Product</button>
            </div>
    </div>
    <div class=" mt-2 row g-5 w-90 m-auto">
        <div class="col-2 list-group-item list" style="border-radius: 5px;">
            <div class="fw-bold">Product Id</div>
        </div>
        <div class="col-3 list-group-item list">
            <div class="fw-bold"> Product Name</div>
        </div>
        <div class="col-3 list-group-item list">
            <div class="fw-bold">Quntity</div>
        </div>
        <div class="col-2 list-group-item list">
            <div class="fw-bold">Price</div>
        </div>
        <div class="col-1 list-group-item list">
            <div class="fw-bold">Edit</div>
        </div>
        <div class="col-1 list-group-item list" style="border-radius: 5px;">
            <div class="fw-bold">Delete</div>
        </div>
    </div>
    <div class="row g-5 w-90 m-auto" *ngFor="let prod of product; let i=index">
        <div class="col-2 list-group-item list-item" style="border-radius: 5px;">
            <div class="" *ngIf="prod.proId">{{prod.proId}}</div>
        </div>
        <div class="col-3 list-group-item list-item">
            <div class="" *ngIf="prod.proName">{{prod.proName}}</div>
        </div>
        <div class="col-3 list-group-item list-item">
            <div class="" *ngIf="prod.quantity">{{prod.quantity}}</div>
        </div>
        <div class="col-2 list-group-item list-item">
            <div class="" *ngIf="prod.price">{{prod.price}}</div>
        </div>
        <div class="col-1 list-item">
            <button color="primary" mat-icon-button (click)="editProduct(i)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="col-1 list-item">
            <button color="warn" mat-icon-button (click)="deleteProduct(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>