<div class="jumbotron w-90 m-auto mt-5 list p-5 rounded">
    <h1 class="display-4">Inventory management</h1>
    <p class="lead">Inventory management is the basis of a well-functioning retail business.</p>
    <hr class="my-4">
    <p>1. Increase in productivity and efficiency in operations. <br>
       2. Minimizing inventory costs and maximizing profits and sales.<br>
      3. Integrating different processes business.<br>
      4. Automating manual tasks.<br>
      5. Maintaining customer satisfaction</p>
    <a class=" mt-3 btn btn-outline-light btn-sm  button" routerLink="/product" role="button">Start</a>
</div>
